<%= form_with(model: article, url: articles_path) do |form| %>
	<%= render 'shared/form_errors' %>
	<div class="mb-3">
		<%= form.label :title, class: "form-label", for: "articleTitle" %>
		<%= form.text_field :title, class: "form-control", id: "articleTitle" %>
	</div>
	<div class="mb-3">
		<%= form.label :description, class: "form-label", for: "articleDescription" %>
		<%= form.text_area :description, rows: "6", class: "form-control", id: "articleDescription" %>
	</div>
	<div class="mb-3">
		<%= form.submit class: "btn btn-primary" %>
	</div>
<% end %>
