<!DOCTYPE html>
<html  class="h-100" lang="en">
  <head>
    <title>TestProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

	<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100 bg-light">
	<header id="page-header">
		<%= render 'layouts/navigation' %>
	</header>
	<main id="main-content" class="flex-shrink-0 mb-2">
		<%= render 'layouts/messages' %>
		<%= yield %>
	</main>

	<footer id="page-footer" class="footer bg-dark py-3 mt-auto">
		<%= render 'layouts/footer' %>
	</footer>
  </body>
</html>
